/*
font-family: "Inter", sans-serif;

font-weight disponíveis: 100 a 900
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/*
Cores de cada sessão do site

Como usar:
    var(--nome-da-variavel)

As variáveis sempre começam com --

Exemplo:

main {
    background-color: var(--profile-color);
}
*/
:root {
    --authentication-color: #523FCB;
    --home-color: #54799D;
    --calendar-color: #5F4977;
    --tasks-color: #FB7735;
    --forum-color: #516F8C;
    --profile-color: #E3E2E2;

    /* Fórum */
    --neutral-color: #b7cad4;
}

html,
body {
    /*Removendo margem e padding*/
    margin: 0;
    padding: 0;

    /*Forçando a altura para o tamanho da tela*/
    height: 100vh;
}

body {
    /*Definindo a localização do header e da parte principal de cada página*/
    display: grid;
    grid-template-columns: 20% 1fr;

    /*Definindo a fonte universal*/
    font-family: "Inter", sans-serif;
    font-weight: 400;

    overflow: hidden;
}

nav {
    padding: 30px 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-group {
    /*Espaçamento entre os itens*/
    display: flex;
    flex-direction: column;
}

.nav-group:nth-child(1) {
    gap: 30px;
}

.nav-group:nth-child(2) {
    gap: 80px
}

.nav-item,
#nav-profile {
    /*Posicionando os elementos de cada item*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-item {
    /*Forçando uma altura para cada item*/
    height: 80px;

    padding: 0 25%;
    gap: 30%;

    /*Estilos do background que permitem o efeito de surgir o fundo*/
    background: linear-gradient(to right, transparent 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: bottom right;
    background-color: white;

    /*Configurações da transição*/
    transition: all .2s ease-out;

    font-size: 1.5em;
    font-weight: 600;

    cursor: pointer;

    text-decoration: none;
    color: inherit;
}

/*Quando passar o mouse no item*/
.nav-item:hover {
    /*Muda a posição do background para que o efeito funcione*/
    background-position: bottom left;

    color: white;
}

/*Definindo as cores específicas para cada item*/
#nav-home:hover {
    background-color: var(--home-color);
}

#nav-calendar:hover {
    background-color: var(--calendar-color);
}

#nav-tasks:hover {
    background-color: var(--tasks-color);
}

#nav-forum:hover {
    background-color: var(--forum-color);
}

#nav-logout:hover {
    background-color: red;
}

#nav-profile {
    height: 110px;
}

#nav-profile div {
    aspect-ratio: 1/1;

    width: 6.5em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #D9D9D9;
    border-radius: 100%;

    cursor: pointer;
}

#nav-profile i {
    font-size: 4em;

    color: #aaaaaa;
}

main {
    height: auto;

    /*Faz com que apenas a div tenha o scroll*/
    overflow: auto;
}

@media screen and (max-width: 890px) {
    body {
        display: flex;
        flex-direction: column;
    }

    nav {
        order: 2;
        flex: 1 1 10%;

        display: grid;
        grid-template-columns: 70% 1fr;
        grid-template-rows: 100%;

        padding: 0 20px;
    }

    .nav-group {
        flex-direction: row;

        gap: 22% !important;
    }

    .nav-group:nth-child(1) {
        justify-content: center;
    }

    .nav-group:nth-child(2) {
        justify-content: end;
    }

    .nav-item {
        height: auto;

        padding: 0;
    }

    .nav-item span {
        display: none;
    }

    #nav-profile {
        height: auto;
    }

    #nav-profile div {
        width: 2.5em;
    }

    #nav-profile i {
        font-size: 1.5em;
    }

    main {
        order: 1;
        flex: 1 1 90%;
    }
}

@media screen and (max-width: 500px) {
    .nav-group {
        gap: 15% !important;
    }
}