:root {
    --neutral-color: #b7cad4;
}

main {
    background-color: var(--forum-color);

    /*top: 20px; left & right: 20%; bottom: 0px*/
    padding: 20px 20% 0;

    height: auto;

    overflow: auto;
}

#forum-container {
    gap: 20px;
}

article {
    border-top: 1px solid var(--neutral-color);

    color: var(--neutral-color);

    padding: 5px 0;
}

.discussion-container {
    border-radius: 10px;

    padding: 10px 10px;

    cursor: pointer;

    transition: all ease .3s;
}

.discussion-container:hover {
    background-color: rgba(0, 0, 0, .1);
}

.discussion-container .user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.discussion-container .content h2 {
    color: white;
}

.discussion-container .options {
    display: flex;
    flex-direction: row;
    gap: 10px;
}